body {
    /*background-image: url('img/images.png');*/
    background-color: rgba(126, 74, 194, 0.281);
    color: #000305;
    font-size 87.5%;
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;    
}
a {
    text-decoration: none;
}
a:link,a:vsited {

}
a:hover, a:active {

}
.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
    }
    
    .mainheader img {
        width: 30%;
        height: auto;
        margin: 2% 0;

    }
.mainheader nav {
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}
.mainheader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainheader nav ul li {
    float: left;
    display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
    color: #fff;
    display: inline-block;
    padding: 10px 25px ;
    height: 20px;
}

.mainheader nav a:hover ,.mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited{
        background-color: aqua;
}

.mainheader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

    .maincontant {
        line-height: 25px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        overflow: hidden;
    }

    .content {
        width: 70%;
        float: left;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    